html(ng-app='app')
	head
		title
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js')
		script(src='index.js')
		script(src='routing.js')
	body